<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="webArticle">
      <h2 data-cy="webArticleDetailsHeading"><span jhiTranslate="magicwebApp.webArticle.detail.title">Web Article</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ webArticle.id }}</span>
        </dd>
        <dt><span jhiTranslate="magicwebApp.webArticle.title">Title</span></dt>
        <dd>
          <span>{{ webArticle.title }}</span>
        </dd>
        <dt><span jhiTranslate="magicwebApp.webArticle.body">Body</span></dt>
        <dd>
          <span>{{ webArticle.body }}</span>
        </dd>
        <dt><span jhiTranslate="magicwebApp.webArticle.image">Image</span></dt>
        <dd>
          <div *ngIf="webArticle.image">
            <a (click)="openFile(webArticle.image, webArticle.imageContentType)" jhiTranslate="entity.action.open">Abrir</a>
            {{ webArticle.imageContentType }}, {{ byteSize(webArticle.image) }}
          </div>
        </dd>
        <dt><span jhiTranslate="magicwebApp.webArticle.author">Author</span></dt>
        <dd>
          <span>{{ webArticle.author }}</span>
        </dd>
        <dt><span jhiTranslate="magicwebApp.webArticle.date">Date</span></dt>
        <dd>
          <span>{{ webArticle.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="magicwebApp.webArticle.tags">Tags</span></dt>
        <dd>
          <span *ngFor="let tags of webArticle.tags; let last = last">
            <a [routerLink]="['/tag', tags.id, 'view']">{{ tags.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/web-article', webArticle.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
